.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar css is here*/
.navbar{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black !important;
  
  }
  
  .navbar-brand{
      font-size: 2rem;
      color: aliceblue !important;
      font-weight: bold;
  }
  #navbarSupportedContent a{
      position: relative;
      color: aliceblue;
  }
  #navbarSupportedContent a:hover{
      color: aqua;
  }
  
  
  #navbarSupportedContent a{
      position: relative;
      font-weight: bold;
      color:aliceblue;
      text-decoration: none;
  
  }
  #navbarSupportedContent a:before{
  content:"";
  position: absolute;
  bottom: 0px;
  height: 3px;
  width: 0;
  background: aqua;
  border-radius: 50px;      
  transition: width 0.3s ease;
  }
  #navbarSupportedContent a:hover::before{
      width: 80%;
  }
     
  .active{
      font-weight: bold;
      color: aqua !important ;
  }


        /* Css of Home display  */
        .bghome{
          background-image:url(./Images/about\ background1.png);
          width: 100%;
          height: 100vh;
           background-size: cover;
          font-family: 'Roboto Condensed', sans-serif;
      }
      .heading{
          height: 100vh;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
      
      }
      